[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Neovim
Exec=/home/john/.config/nvim/desktop/Neovim.sh %F
Icon=/home/john/shit/nvim-linux-x86_64/share/icons/hicolor/128x128/apps/nvim.png
Terminal=true
Categories=Utility;TextEditor;
Keywords=Neovim;neovim;Nvim;nvim;
MimeType=text/plain;

